{% extends "base.html"  %}
{% block content %}
    <form  method="post" action="{% url 'search_if_name_is_use'  %}">
    {% csrf_token %}
       <input type="text" name="zipcode"  title="zipcode" placeholder="zipcode">

      <input type="text" name="f_name" placeholder="first name">
      <input type="text" name="l_name" placeholder="last name">
      <input type="text" name="middlename" placeholder="middle name">

       <input type="number" name="age" placeholder="age" >

       <input type="submit" value="perform search" >
    </form>
    <ul></ul>

   <div>
       {% if present %}
       {% for rec in records %}
       {{rec.l_name}}
       {{rec.f_name}}
       {{rec.middlename}}
       {{rec.address}}
       {{rec.links}}
       {% endfor %}
       {% endif %}
   <ul></ul>
    {% if form %}
        <h4>{{ form.errors }}</h4>
   {% endif %}


   </div>

   <ul></ul>
<ul></ul>
<ul></ul>



    <form  method="post" action=".">
        {% csrf_token %}
        {{ form }}
        <input type="submit" title="submit">

    </form>
{% endblock %}