{% extends "base.html"  %}
{% block content %}
<h2> Search Info </h2>
    <form  method="post" action="{% url 'search_if_name_is_use'  %}">
    {% csrf_token %}
       <input type="text" name="zipcode"  title="zipcode" placeholder="zipcode">

      <input type="text" name="f_name" placeholder="first name">
      <input type="text" name="l_name" placeholder="last name">
      <input type="text" name="middlename" placeholder="middle name">

       <input type="number" name="age" placeholder="age" >

       <input type="submit" value="perform search" >
    </form>
    </br>





<div>
       {% if present %}
       <div class="CSSTableGenerator" >
                <table >
                    <tr>
                        <td>
                            Zipcode
                        </td>
                        <td>
                            Name
                        </td>
                        <td >
                            Middlename
                        </td>
                        <td>
                            Lastname
                        </td>

                        <td>
                            Address
                        </td>

                        <td>
                            Url
                        </td>
                        <td>
                            Age
                        </td>
                    </tr>

                    {% for rec in records %}
                    <tr>
                        <td>
                            {{rec.zipcode}}
                        </td>
                        <td>
                            {{rec.f_name}}
                        </td>
                        <td>
                            {{rec.middlename}}
                        </td>
                       <td>
                       {{rec.l_name}}
                        </td>
                        <td>
                            {{rec.address}}
                        </td>
                        <td>
                            {{rec.links}}
                        </td>
                        <td>
                            {{rec.age}}
                        </td>

                    </tr>
                    {% endfor %}
                </table>
       </div>

      {% endif %}
   </div>

<h2> Enter Info </h2>

 <form  method="post" action="." class="formclass">
        {% csrf_token %}



       {{ form.as_p}}


        <input type="submit" title="submit">

    </form>
   </br>
{% endblock %}


