<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>  {% block title %}Title {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="/static/css/info_monitor/populate.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{% static '/css/info_monitor/form.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static '/css/nav-bar.css' %}" media="screen">

</head>
<body>



{% block content %} {% endblock %}

{% block footer %} {% endblock %}


</body>
</html>